@import "tailwindcss";

/* Fonte Inter do Google */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

/* Reset básico de navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Garante que html, body e #root ocupem toda a tela */
html,
body,
#root {
  height: 100%;
  width: 100%;
}


